.self-select-box {
  padding-top: 6px;
}

.self-select .ant-select-selector {
  background: #F4F4FA !important;
  border: 1px solid rgba(211, 212, 247, 0.3);
  border-radius: 27px !important;
  color: #27272F;
  width: 100%;
}

.self-select .self-select-label-text {
  font-family: 'PingFang SC';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #333333;
}
