.input, .search-input {
  padding: 10px;
  padding-left: 16px;
  box-sizing: border-box;
  height: 40px;
  left: 586px;
  top: 361px;
  background: #F4F4FA;
  border: 1px solid rgba(211, 212, 247, 0.3);
  border-radius: 27px;
  color: #27272F;
}

.delete-icon {
  position: absolute;
  right: 10px;
}

.send-code, .timer-box {
  position: absolute;
  width: 70px;
  right: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  background: #FFFFFF;
  border: 1px solid rgba(211, 212, 246, 0.52);
  border-radius: 24px;
  font-family: 'PingFang SC';
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #7378F9;
}

.timer-box {
  color: #BABCCE;
}

.search-input {
  height: 26px;
  width: 240px;
  padding-left: 28px;
}

.search-input::-webkit-input-placeholder {
  font-family: 'PingFang SC';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  color: #797E8A;
}

.search-input-bg {
  background-image: url("/search.svg");
  background-repeat: no-repeat;
  background-position: 12px 6px;
}

.search-input-box {
  position: relative;
}

.search-input-result {
  position: absolute;
  z-index: 88;
}

.bg-text {
  position: absolute;
  right: 10px;
  font-family: 'PingFang SC';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  color: #AAABCE;
}