.tabs-box {
  position: relative;
  padding: 6px;
  padding-left: 56px;
  display: flex;
  align-items: center;
}

.tab-panel {
  color: #27272f;
  padding-right: 25.5px;
  padding-bottom: 6px;
}

.tab-panel.active {
  position: relative;
  padding-right: 25.5px;
  color: #545BFF;
  
  &::after {
    content: "";
    width: 34px;
    height: 2px;
    background: #545BFF;
    border-radius: 2px;
    position: absolute;
    bottom: 0;
    left: 12px;
  }
}

.tab-content {
  color: #000
}