.top-table-box {
  display: flex;
}

.top-table-contennt {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 20px 26px;
  height: 359px;
  margin-top: 20px;
  background: #fff;
  border-radius: 22px;
}

.top-table-contennt:first-child {
  margin-right: 20px;
}

.table-name-render {
  display: flex;
  align-items: center;
}

.table-name-render-text {
  margin-top: 2px;
  margin-left: 6px;
  font-family: 'PingFang SC';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  color: #333333;
}

.table-name-render-icon {
  width: 16px;
  height: 16px;
}

.table-num-render {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 6px;
  height: 24px;
  background: linear-gradient(90.04deg, #6369FF -6.86%, #3F47FD 140.58%);
  border-radius: 4px;
  font-family: 'PingFang SC';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 22px;
  color: #FFFFFF;
}