.staff-overview {
  display: flex;
  justify-content: space-between;
  padding: 34px 43px;
  background: #fff;
  border-radius: 22px;
  width: 100%;
  margin-top: 18px;
}

.overview-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overview-label {
  font-family: 'PingFang SC';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #AFAFAF;
}

.overview-value {
  margin-top: 29px;
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  color: #333333;
}
