.register-box {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 46px;
  font-family: 'PingFang SC';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #27272F;
}

.login-tips-text {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding-right: 56px;
  margin-top: 20px;
  font-family: 'PingFang SC';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  text-align: center;
  color: #7B7D8A;
}

.login-tips-text-link {
  color: #545BFF;
}

.field-box {
  padding-top: 12px;
}

.button-box {
  padding-top: 28px;
}